<%- include('../layouts/userLayout/header.ejs') %> <%-
include('../layouts/userLayout/navbar.ejs') %> <%-
include('../layouts/userLayout/accountsidebar.ejs') %>

<div>
  

  <div class="row">
    <div class="col-lg-12">

        <p>Currently You Have No Address to Deliver Products</p>

    </div>
    <!-- End .col-lg-12 -->
  </div>
  <!-- End .row -->
</div>
<!-- .End .tab-pane -->

<%- include('../layouts/userLayout/accountfooter.ejs') %> <%-
include('../layouts/userLayout/footer.ejs') %>
